@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Oswald&family=Source+Code+Pro:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #160e14;
  color: white;
  height: 60px;
  font-size:27px;
  display: flex;
  align-items: center;
  padding:0 12px;
  font-family: 'Oswald', sans-serif;
  font-family: 'Source Code Pro', monospace;
}
nav ul{
  list-style-type: none;
}
.gamecontainer{
/*   background-color: yellow; */
  display: flex;
  justify-content: center;
  margin: 50px;
}

@media only screen and (max-width: 600px) {
    
    .gamecontainer{
        display: block;
        justify-items: center;
    }
}
.container{
  display: grid;

  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.box{
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box:hover{
  background-color: #f4c767;
}

.info{
  font-size: 25px;  
}

.gameInfo{
  padding: 0 34px;
  font-family: 'Baloo Bhaina 2', cursive;
}

.gameInfo h1{
    font-size: 2.5rem;
  }
.imgbox img{
  width: 0;
  transition: width 1s ease-in-out;
} 
.br-0{
  border-right: 0;
}
.bl-0{
  border-left: 0;
}

.bt-0{
  border-top: 0;
}
.bb-0{
  border-bottom: 0;
}

#reset{
  margin: 0 23px;
  padding: 1px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-family: 'Baloo Bhaina 2';
  font-size: 15px;
  font-weight: bolder;
  background-image: radial-gradient(#aba0a0, #ffffff00 );
}

.line{
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  background-color: #ad25ad;
  transition: width 1s ease-in-out;
}






